.col-ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ced4da;
  &:last-child{
    border-bottom: none;
  }
}

.col-li{
  padding: 7px 10px;
  border-left: 1px solid #ced4da;
  &:first-child{
    border-left: none;
  }
}

._col-li1{
  width: 6%;
  text-align: center;
}

._col-li2{
  width: 24%;
}

._col-li3{
  width: 24%;
}

._col-li4{
  width: 17%;
}

._col-li5{
  width: 6%;
}

._col-li6{
  position: relative;
  width: 7%;
}

._col-li7{
  width: 10%;
}

._col-li8{
  width: 5%;
}

.format-icon{
  text-align: center;
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

._disk{
  &::before{
    width: 45px;
    background-image: url('../../img/format/bluRay.png');
  }
}

._ps-plus{
  &::before{
    width: 30px;
    background-image: url('../../img/format/psPlus.png');
  }
}

._hdd{
  &::before{
    width: 25px;
    background-image: url('../../img/format/hdd.png');
  }
}

._is-played{
  text-align: center;
  padding: 6px 10px;
}

.button-toggle{
  display: block;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  &:focus{
    outline: none;
  }
}

._passed{
  background-color: #59ff38;
  border: 2px outset #007938;
  &:active{
    border: 2px inset rgba(0,121,56,1);
    background-color: #a5ff70;
  }
}

._played{
  background-color: #fff06c;
  border: 2px outset #c1b33d;
  &:active{
    background-color: #feffb1;
    border: 2px inset #cabc3d;
  }
}

._no-played{
  background-color: #48cbff;
  border: 2px outset #2983db;
  &:active{
    background-color: #6ddcff;
    border: 2px inset #2983db;
  }
}

._del-game{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 20px;
  color: tomato;
}

.del-game__icon{
  padding: 2px 5px;
  cursor: pointer;
}
